<!doctype html>
<html lang="en">
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>대화 목록</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/angular.js"></script>
  </head>

  <style>
    .message-input, .message-input .inline-label, .menu-bar {margin-bottom: 13;}
    #sidebar, .messages {border-right: 1px solid #eee;}
    .message-side-bar {border-left: 1px solid #eee;}
    .avatar-section {border-top: 1px solid #eee;}
  </style>

  <body>
    <% include ./navigation.ejs %>
    <div class="container" style="margin-top:140px" >
      <div zf-panel position="left" id="sidebar" class="medium-grid-block collapse medium-3 large-3 vertical">
        <div class="grid-content collapse shrink hide-for-medium">
          <a href="" class="secondary button expand" zf-close>Close</a>
        </div>
      </div>
      <div class="grid-block collapse medium-9 large-9 vertical">
        <div class="grid-block">
          <div class="grid-block small-12 medium-9 vertical" id="board">
            <div class="grid-content" id="chatlist">
              <% for(let i = 0; i<list.length; i++){ %>
                <div class="chat-element" value="<%=list[i].id%>">
                  <h4><%=list[i].username%></h4>
                  <button class="btn btn-danger" style="display:none;" value="<%=list[i].unread%>"><%=list[i].unread%></button>
                  <p><%=list[i].content%></p>
                  <h6><%=list[i].sent_time%></h6>
                  <hr />
                </div>
              <% } %>
              <h4> Cady Heron</h4>
              <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.</p>
              <h6>2013-03-31 13:30:30</h6>
              <hr />
            </div>
          </div>
      </div>
    </div>
  </div>
     <!-- jQuery -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script>
      $(() => {
          var socket = io.connect();
          $("body").on("click", '.chat-element', (ent) => {
            alert(parseInt($(ent.target).val()))
              socket.emit("enterRoom",1);
              socket.on("enumMessages", (messages) => {
                  let message = JSON.parse(messages);
                  $("#chatlist").children().remove();
                    for(let i = 0; i<message.length; i++) { 
                      let color;
                      if(message[i].sender_id!=1) color="#ffffff";
                      else color = "#f4cd97"; //본인이면 메세지 창 노란색

                        $("#chatlist").append(`
                          <div class="msg-element" value="`+message[i].sender_id+`">
                            <div style="background-color: `+color+`;">
                            <h4>`+message[i].username+`</h4>
                            <p>`+message[i].content+`</p>
                            <h6>`+message[i].sent_time+`</h6>
                            <hr />
                          </div>
                        </div>   
                        `);                    } 
                  $("#board").append(`
                  <div class="message-input grid-content collapse shrink">
                    <span class="inline-label">
                      <input type="text" placeholder="Message">
                      <a href="#" class="button">Send</a>
                    </span>
                  </div>
                  `);
              });   

              socket.on("unauth", message => {
                return alert(message);
              });
          })
      });
  </script>
  </body>
</html>

<!-- ui-view  -->