<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>새 가족 찾기</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/modern-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <% include ./navigation.ejs %>

    <!-- Page Content -->
    <div class="container" style="margin-top: 50px; margin-bottom: 50px;">

      <!-- Page Heading/Breadcrumbs -->
      <h3 class="mt-4 mb-3"><%=post.title%>
        <small>by
          <a href="#"><%=post.username%></a>
        </small>
      </h3>

      <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-12">
          <!-- Preview Image -->
          <div class="row">
                <% for(let i = 0; i<images.length; i++) { %>
                    <div class="col-lg-6">
                        <img class="img-fluid rounded"  src="<%=images[i]%>" alt="unloaded" style="margin-bottom: 10px;">
                    </div>
                  <% } %>  
          </div>
          <hr>
             <!-- Date/Time -->
            <div class="row">
                <div class="col-lg-2">
                    <h5>등록일</h5> 
                </div>
                <div class="col-lg-10">
                    <p class="lead"><%=post.created_at%></p>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-2">
                  <h5>기본 정보</h5>
              </div>
              <div class="col-lg-10">
                  <p id="age" class="lead"><%=post.age%></p>
                  <p class="lead"><%=post.gender%></p>
                  <p class="lead"><%=post.spiece%></p>
                  <p class="lead" id="neutralization"><%=post.neutralization%></p>
                  <p class="lead" id="fee"><%=post.fee%></p>
                  <p class="lead" >희망분양지역 : <%=post.region%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-2">
                  <h5>예방 접종</h5>
              </div>
              <div class="col-lg-10">
                  <span class="lead vaccin" value="<%=post.combi1%>" style="margin-right:10px;">종합1차</span>
                  <span class="lead vaccin" value="<%=post.combi2%>" style="margin-right:10px;">종합2차</span>
                  <span class="lead vaccin" value="<%=post.combi3%>" style="margin-right:10px;">종합3차</span>
                  <span class="lead vaccin" value="<%=post.rabies%>">광견병</span>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-2">
                  <h5>소개</h5>
              </div>
              <div class="col-lg-10">
                  <p><%=post.introduction%></p> 
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-2">
                    <h5>입양 요구조건</h5>
                </div>
                <div class="col-lg-10">
                    <p><%=post.condition%></p>
                </div>
              </div>
        </div>  <!--col-->
      </div> <!--row-->
      <div style="float: right;">
          <button id="chatButton" style="text-align: right;" class="btn btn-danger">분양희망자와 대화하기</button>
      </div>
    </div><!--container-->  



    <!-- Footer -->
    <footer class="py-5 bg-warm">
        <div class="container">
          <p class="m-0 text-center text-black">성신여자대학교 컴퓨터소프트웨어 전공 13학번 김다은 졸업작품</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/popper/popper.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script>
      $(() => {
          switch(parseInt($("#age").text())){
            case 1: $("#age").text("2개월 이상 - 6개월 미만"); break;
            case 2: $("#age").text("6개월 이상 - 1년 미만"); break;
            case 3: $("#age").text("1년 이상 - 3년 미만"); break;
            case 4: $("#age").text("3년 이상");
          }
          switch(parseInt($("#neutralization").text())){
            case 0: $("#neutralization").text("중성화 O"); break;
            case 1: $("#neutralization").text("중성화 X");
          }
          $("#fee").text("희망분양비 : "+String($("#fee").text()).replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,')+"원");
          $(".vaccin").each((index, element) => {
            alert(this.val());
              if($(this).val()==1) $(this).css("font-color", "black");
              else $(this).css("font-color", "gray");
          })
        });
      

      

    </script>
  </body>

</html>
